eserciziodtd.dtd

<!-- 
    Studente: Claudia Scroccow
    Matricola: 559002
    Corso: Codifica Testi 19-20
-->

<!ELEMENT TEI (header, facsimile?, testo+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT testo (#PCDATA|seg)*>

<!ATTLIST header
    type #FIXED CDATA 'intestazione'
    lang #IMPLIED NMTOKEN
>
<!ATTLIST facsimile
    source #REQUIRED
    ref #IMPLIED IDREFS
>
<!ATTLIST testo
    id #REQUIRED ID
    type #IMPLIED CDATA
>
