esercizio06.dtd

<!-- 
    Studente: Claudia Scroccow
    Matricola: 559002
    Corso: Codifica Testi 19-20
-->

<!ELEMENT TEI (header, facsimile?, testo+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT testo (#PCDATA|seg)*>

<!ATTLIST header
    type CDATA #FIXED "intestazione"
    lang NMTOKEN #IMPLIED 
>
<!ATTLIST facsimile
    source CDATA #REQUIRED
    ref IDREFS #IMPLIED 
>
<!ATTLIST testo
    id ID #REQUIRED 
    type CDATA #IMPLIED 
>